/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Estilo da Página de Login e Cadastro */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.form-box {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.form-box h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #555;
}

.form-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.form-box button {
    width: 100%;
    padding: 10px;
    background-color: #6a0dad;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.form-box button:hover {
    background-color: #5c0099;
}

/* Estilo da logo */
.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.logo img {
    width: 150px;
}

.error-message {
    color: red;
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
}

/* Estilo do botão de cadastro */
.cadastro-btn {
    width: 100%;
    padding: 10px;
    background-color: #00bcd4;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.cadastro-btn:hover {
    background-color: #0097a7;
}